/vendor
/node_modules
/.env
/.env.*
!/\.env.example

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

.phpunit.result.cache
coverage/
